@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #eee;
    --secondary-color: #31363f;
    --tertiary-color: #14161a;
    --accent-color: #9296f0;
  }

  .dark:root {
    --primary-color: #0c0f11;
    --secondary-color: #a8adb2;
    --tertiary-color: #eef5fc;
    --accent-color: #9296f0;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif, Arial;
}

@supports selector(::-webkit-scrollbar) {
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--tertiary-color);
  }
}

::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="40" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
    top right / 0 no-repeat;
  mask-origin: content-box;
  animation: scale 1s;
  transform-origin: top right;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 1s;
  transform-origin: top right;
  z-index: -1;
}

@keyframes scale {
  to {
    mask-size: 350vmax;
  }
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: #5c5c5c transparent;
    scrollbar-width: thin;
  }
}
