---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import ArrowUpIcon from './icons/ArrowUpIcon.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<button
  class="fixed right-2 bottom-16 lg:bottom-6 lg:right-6 p-2 transition-opacity rounded-md border-secondary border-2 group hover:scale-105 hover:border-accent opacity-0"
  id="btn-back-to-top"
  aria-label={t('aria.backToTop')}>
  <ArrowUpIcon
    class="text-secondary w-5 h-5 lg:w-8 lg:h-8 rotate-45 group-hover:rotate-0 transition-transform stroke-2 group-hover:text-accent motion-safe:transition"
  />
</button>

<script>
  const DISPLAY = { BLOCK: 'block', NONE: 'none' } as const

  document.addEventListener('astro:page-load', () => {
    const btnBackToTop = document.querySelector(
      '#btn-back-to-top'
    ) as HTMLButtonElement

    btnBackToTop.addEventListener('click', () => {
      window.scrollTo({ top: 0, behavior: 'smooth' })
    })

    window.addEventListener('scroll', () => {
      const scrollTop =
        document.body.scrollTop || document.documentElement.scrollTop
      const display = scrollTop > 20 ? DISPLAY.BLOCK : DISPLAY.NONE

      if (btnBackToTop) {
        btnBackToTop.classList.toggle('opacity-0', display === DISPLAY.NONE)
        btnBackToTop.classList.toggle(
          'cursor-default',
          display === DISPLAY.NONE
        )
      }
    })
  })
</script>
