---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import ToolsIcon from '@components/icons/ToolsIcon.astro'
import Tooltip from '@components/Tooltip.astro'
import { skillset } from '@/data/skillset'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section>
  <h2
    class="text-tertiary text-3xl font-bold uppercase tracking-wider flex items-center gap-4"
    id={t('nav.skillset')}>
    <ToolsIcon class="w-9 h-9 hidden sm:inline-block" />
    {t('nav.skillset')}
  </h2>
  <ul class="flex flex-col gap-8 mt-6">
    {
      skillset.map((skillset) => (
        <li>
          <h3 class="text-tertiary text-xl font-bold uppercase tracking-wider flex items-center gap-4">
            <skillset.icon /> {skillset.name}
          </h3>
          <ul class="flex flex-wrap gap-3 mt-4">
            {skillset.items.map((item) => (
              <li>
                <Tooltip text={item.name}>
                  {item.darkIcon && (
                    <item.darkIcon
                      class={`size-10 ${item.className ?? ''} hidden dark:block`}
                    />
                  )}
                  <item.icon
                    class={`size-10 ${item.className ?? ''} ${item.darkIcon ? 'dark:hidden' : ''}`}
                  />
                </Tooltip>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</section>
