---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import BookIcon from '@components/icons/BookIcon.astro'
import ToolsIcon from '@components/icons/ToolsIcon.astro'
import MonitorIcon from '@components/icons/MonitorIcon.astro'
import ServerIcon from '@components/icons/ServerIcon.astro'
import CloudIcon from '@components/icons/CloudIcon.astro'
import JavascriptIcon from '@components/icons/JavascriptIcon.astro'
import TypeScriptIcon from '@components/icons/TypeScriptIcon.astro'
import JavaIcon from '@components/icons/JavaIcon.astro'
import GoIcon from '@components/icons/GoIcon.astro'
import HtmlIcon from '@components/icons/HtmlIcon.astro'
import CssIcon from '@components/icons/CssIcon.astro'
import SassIcon from '@components/icons/SassIcon.astro'
import ReactIcon from '@components/icons/ReactIcon.astro'
import ReduxIcon from '@components/icons/ReduxIcon.astro'
import TailwindIcon from '@components/icons/TailwindIcon.astro'
import ExpressIcon from '@components/icons/ExpressIcon.astro'
import NextjsIcon from '@components/icons/NextjsIcon.astro'
import NodejsIcon from '@components/icons/NodejsIcon.astro'
import AstroIcon from '@components/icons/AstroIcon.astro'
import NestjsIcon from '@components/icons/NestjsIcon.astro'
import MongodbIcon from '@components/icons/MongodbIcon.astro'
import PostgresqlIcon from '@components/icons/PostgresqlIcon.astro'
import MysqlIcon from '@components/icons/MysqlIcon.astro'
import ElectronIcon from '@components/icons/ElectronIcon.astro'
import RedisIcon from '@components/icons/RedisIcon.astro'
import FirebaseIcon from '@components/icons/FirebaseIcon.astro'
import SocketioIcon from '@components/icons/SocketioIcon.astro'
import GraphqlIcon from '@components/icons/GraphqlIcon.astro'
import DockerIcon from '@components/icons/DockerIcon.astro'
import GitIcon from '@components/icons/GitIcon.astro'
import GithubLogoIcon from '@components/icons/GithubLogoIcon.astro'
import JestIcon from '@components/icons/JestIcon.astro'
import Tooltip from '@components/Tooltip.astro'
import AstroDarkIcon from '@components/icons/AstroDarkIcon.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section>
  <h2
    class="text-tertiary text-3xl font-bold uppercase tracking-wider flex items-center gap-4"
    id={t('nav.skillset')}>
    <ToolsIcon class="w-9 h-9" />
    {t('nav.skillset')}
  </h2>
  <ul class="flex flex-col gap-8 mt-6">
    <li>
      <h3
        class="text-tertiary text-xl font-bold uppercase tracking-wider flex items-center gap-4">
        <BookIcon /> Languages
      </h3>
      <ul class="flex flex-wrap gap-3 mt-4">
        <li>
          <Tooltip text="JavaScript">
            <JavascriptIcon class="w-10 h-10 rounded" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="TypeScript">
            <TypeScriptIcon class="w-10 h-10 rounded" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Java">
            <JavaIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Golang">
            <GoIcon class="w-10 h-10 fill-[#00acd7]" />
          </Tooltip>
        </li>
      </ul>
    </li>
    <li>
      <h3
        class="text-tertiary text-xl font-bold uppercase tracking-wider flex items-center gap-4">
        <MonitorIcon /> Frontend
      </h3>
      <ul class="flex flex-wrap gap-3 mt-4">
        <li>
          <Tooltip text="HTML">
            <HtmlIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="CSS">
            <CssIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Sass">
            <SassIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="React">
            <ReactIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Next.js">
            <NextjsIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Redux">
            <ReduxIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Electron">
            <ElectronIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="AstroJS">
            <AstroIcon class="w-10 h-10 hidden dark:block" />
            <AstroDarkIcon class="w-10 h-10 block dark:hidden" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Tailwind">
            <TailwindIcon class="w-10 h-10" />
          </Tooltip>
        </li>
      </ul>
    </li>
    <li>
      <h3
        class="text-tertiary text-xl font-bold uppercase tracking-wider flex items-center gap-4">
        <ServerIcon /> Backend
      </h3>
      <ul class="flex flex-wrap gap-3 mt-4">
        <li>
          <Tooltip text="NodeJS">
            <NodejsIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="ExpressJS">
            <ExpressIcon class="w-10 h-10 invert dark:invert-0" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="NestJS">
            <NestjsIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="MongoDB">
            <MongodbIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="PostgreSQL">
            <PostgresqlIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="MySQL">
            <MysqlIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Redis">
            <RedisIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Firebase">
            <FirebaseIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Socket.io">
            <SocketioIcon class="w-10 h-10 fill-white invert dark:invert-0" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="GraphQL">
            <GraphqlIcon class="w-10 h-10" />
          </Tooltip>
        </li>
      </ul>
    </li>
    <li>
      <h3
        class="text-tertiary text-xl font-bold uppercase tracking-wider flex items-center gap-4">
        <CloudIcon /> Devops
      </h3>
      <ul class="flex flex-wrap gap-3 mt-4">
        <li>
          <Tooltip text="Docker">
            <DockerIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Git">
            <GitIcon class="w-10 h-10" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Github">
            <GithubLogoIcon class="w-10 h-10 fill-white invert dark:invert-0" />
          </Tooltip>
        </li>
        <li>
          <Tooltip text="Jest">
            <JestIcon class="w-10 h-10" />
          </Tooltip>
        </li>
      </ul>
    </li>
  </ul>
</section>
