<a
  {...Astro.props}
  class="capitalize text-secondary flex text-xl hover:text-accent items-center transition-colors gap-2"
  target="_blank"
  role="link"
  rel="noopener noreferrer">
  <slot />
</a>
