---
import MoonIcon from '@components/icons/MoonIcon.astro'
import SunIcon from '@components/icons/SunIcon.astro'
---

<button id="btn-theme-toggler">
  <span id="theme-toggler-dark-icon" class="hidden dark:block">
    <MoonIcon class="hover:text-accent transition-colors" />
  </span>
  <span id="theme-toggler-light-icon" class="block dark:hidden">
    <SunIcon class="hover:text-accent transition-colors" />
  </span>
</button>

<script>
  const LOCAL_STORAGE_THEME_KEY = 'theme'
  const html = document.querySelector('html') as HTMLElement
  const selectedTheme = localStorage.getItem(LOCAL_STORAGE_THEME_KEY)
  const systemSettingDark = window.matchMedia(
    '(prefers-color-scheme: dark)'
  ).matches

  enum THEMES {
    dark = 'dark',
    light = 'light'
  }

  const setThemePreference = (theme: THEMES) => {
    if (theme === THEMES.dark) {
      localStorage.setItem(LOCAL_STORAGE_THEME_KEY, THEMES.dark)
      html.classList.add(THEMES.dark)
    } else {
      localStorage.setItem(LOCAL_STORAGE_THEME_KEY, THEMES.light)
      html.classList.remove(THEMES.dark)
    }
  }

  const switchTheme = () => {
    const currentTheme = localStorage.getItem(LOCAL_STORAGE_THEME_KEY)
    const isDarkTheme = currentTheme === THEMES.dark

    if (isDarkTheme) {
      setThemePreference(THEMES.light)
    } else {
      setThemePreference(THEMES.dark)
    }
  }

  // Set up the select theme
  if (selectedTheme === THEMES.dark || (systemSettingDark && !selectedTheme)) {
    setThemePreference(THEMES.dark)
  } else {
    setThemePreference(THEMES.light)
  }

  document.addEventListener('astro:after-swap', () => {
    const selectedTheme = localStorage.getItem(
      LOCAL_STORAGE_THEME_KEY
    ) as THEMES
    setThemePreference(selectedTheme)
  })

  document.addEventListener('astro:page-load', () => {
    const btnThemeToggler = document.querySelector(
      '#btn-theme-toggler'
    ) as HTMLButtonElement

    btnThemeToggler.addEventListener('click', () => {
      // @ts-expect-error View transitions API is not embedded in Ts definition yet
      if (!document.startViewTransition) switchTheme()
      // @ts-expect-error View transitions API is not embedded in Ts definition yet
      document.startViewTransition(switchTheme)
    })
  })
</script>
