---
import MoonIcon from './icons/MoonIcon.astro'
---

<button id="btn-theme">
  <MoonIcon />
</button>

<script>
  const btnTheme = document.querySelector('#btn-theme') as HTMLButtonElement

  btnTheme.addEventListener('click', () => {})
</script>
