---
import CommonHead from '@components/CommonHead.astro'
---

<!doctype html>
<html>
  <CommonHead />
  <body>
    <style>
      .dark:root {
        --primary-color: #0c0f11;
        --secondary-color: #a8adb2;
        --tertiary-color: #eef5fc;
      }
    </style>
  </body>
</html>
